* {
  margin: 0px;
  padding: 0px;
}

body {
  color: black;
  background-color: white;
}

#main {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: underline;
}

#nav {
  display: flex;
  border-right: 2px solid black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
  padding: 10px 10px;
}

#nav a {
  display: inline-block;
  margin: 1em;
}

button {
  background-color: rgb(85, 140, 212);
  color: white;
  width: 100px;
  height: 30px;
  font-size: 12px;
  margin: 10px;
}

#game_container {
  flex-basis: 90%;
}

#table {
  background-color: #ccc7b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.top {
  margin-top: 5px;
  margin-bottom: -30px;
}

.end_middle {
  width: 50%;
}

.middle {
  width: 70%;
}

.center {
  width: 80%;
}

.bottom {
  margin-top: -30px;
  margin-bottom: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  margin-left: -30px;
  margin-right: -30px;
}

.card_stack {
  display: flex;
  flex-direction: row;
}

.card_stack > button {
  background-color: white;
  color: black;
  align-self: center;
  font-size: 12px;
  margin-right: 50px;
  width: 55px;
}

.queen {
  transform: rotate(-25deg);
}

.two {
  transform: rotate(25deg);
}

.eight {
  transform: rotate(-155deg);
}

.six {
  transform: rotate(155deg);
}

.jack {
  transform: rotate(-50deg);
}

.three {
  transform: rotate(50deg);
}

.nine {
  transform: rotate(-130deg);
}

.five {
  transform: rotate(130deg);
}

.ten {
  transform: rotate(-90deg);
}

.four {
  transform: rotate(90deg);
}

#lost {
  font-size: 24px;
  color: red;
  text-decoration: bold;
  padding-top: 30px;
}
