* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  color: #5b616a;
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}

#app {
  height: 100%;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 20px;
}

#nav {
  color: #ffffff;
  display: flex;
  border-right: 2px solid black;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  text-align: center;
  text-decoration: bold;
  padding: 10px 10px;
}

.blue {
  background-color: #009ddc;
}

.gray {
  background-color: #5b616a;
}

.green {
  background-color: #4ca43f;
}

.purple {
  background-color: #702c8d;
}

.red {
  background-color: #d02000;
}

.yellow {
  background-color: #fdcd44;
}

#links {
  display: flex;
  flex-direction: column;
  margin: 1em;
  cursor: pointer;
}

button {
  color: black;
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  width: 120px;
  height: 35px;
  font-size: 16px;
  margin: 10px;
}

#game_container {
  flex-basis: 90%;
  height: 100%;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.top {
  margin-top: 10px;
  margin-bottom: -30px;
}

.end_middle {
  width: 50%;
}

.middle {
  width: 70%;
}

.center {
  width: 80%;
}

.bottom {
  margin-top: -30px;
  margin-bottom: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  margin-left: -27px;
  margin-right: -27px;
  cursor: pointer;
}

.card_stack {
  display: flex;
  flex-direction: row;
}

.card_stack > button {
  background-color: white;
  color: black;
  align-self: center;
  font-size: 12px;
  margin-right: 50px;
  width: 55px;
}

.jack {
  transform: rotate(-25deg);
}

.ace {
  transform: rotate(25deg);
}

.seven {
  transform: rotate(-155deg);
}

.five {
  transform: rotate(155deg);
}

.ten {
  transform: rotate(-50deg);
}

.two {
  transform: rotate(50deg);
}

.eight {
  transform: rotate(-130deg);
}

.four {
  transform: rotate(130deg);
}

.nine {
  transform: rotate(-90deg);
}

.three {
  transform: rotate(90deg);
}

.six,
.queen,
.king {
  transform: rotate(0deg);
}

#lost {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #5b616a;
  text-align: center;
  text-decoration: bold;
  padding-top: 30px;
}

#lost > img {
  height: 10%;
  margin: 20px;
}

#lost > button {
  background-color: #275dad;
  color: #ffffff;
}

#won {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #5b616a;
  text-align: center;
  text-decoration: bold;
  padding-top: 30px;
}

#won > button {
  background-color: #275dad;
  color: #ffffff;
}

#how_to {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

#how_to > p {
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

#clock {
  height: 200px;
}

@media only screen and (min-width: 1350px) {
  .card {
    height: 125px;
    margin-left: -32px;
    margin-right: -32px;
  }
}
